<section>
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-xl font-bold text-primary">Inventory Management</h2>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="bg-surface-container-lowest p-5 rounded-lg border-l-4 border-primary flex gap-4">
      <img class="w-20 h-20 object-cover rounded-md" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBbvrsAZ4W4uyccteLQYGBWVoRuy0_SYEyv-htHNWZ3j9v0HPTSIYhhpm7lQuTcv1-i6agvk70djEoOSdhJHHrcHijl5QZ8LY0KqwZXhQ0qrJwqtDcbsaiMBV-Gp912YakfUimkozGx7jqC3FeUE7F02h18euXxj8ASSuIqQmAZMHiRDWW3vqd0eflSzmybTVVzuSzk5wm9G0u42H-ITIyuBWEPp7wv6XMJsSbU0BMKN1YaYzvrkmyHq52vxdO1C0KFm-gV91eCYhQ" alt="Suite"/>
      <div class="flex-1">
        <h4 class="font-bold text-sm">Sea-View Junior Suite</h4>
        <p class="text-xs text-on-surface-variant">8 units remaining</p>
      </div>
    </div>

    <div class="bg-surface-container-lowest p-5 rounded-lg border-l-4 border-secondary flex gap-4">
      <img class="w-20 h-20 object-cover rounded-md" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDdXmY3u6ouYmKQadFIipBvL9G5TVt86WP5varQJxqB_qujSSoFsvHYwrDWCgeqj-NsPAn2Oy05P9gKCAiE76fFVp0y2iP3P1nmSjd-8gbrwGpOU4CQWJRvRDFA0DjjwXE6MCBoay7G5NsaHe_UafG-pWsD0r9G1IbWAB0UaC4erI1-md13BbEbDeqgnTfxrSmf4dR-z8S-gzRijY0Nir5W84nDGNmLDFVGX_qHJkVQ32mz-figscXRVQcq30TltUX4f6vO-cW2uXU" alt="Ceramic"/>
      <div class="flex-1">
        <h4 class="font-bold text-sm">Nabeul Ceramic Collection</h4>
        <p class="text-xs text-on-surface-variant">24 items in stock</p>
      </div>
    </div>
  </div>
</section>
