<section class="py-24 px-8 max-w-screen-2xl mx-auto">
  <h2 class="font-headline text-4xl font-extrabold text-primary mb-12 text-center">Curated Experiences</h2>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
    <article class="md:col-span-2 md:row-span-2 rounded-lg overflow-hidden relative group">
      <img class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDZzuoOMcVFUo1dI28nLF0sptP_PStp7Cup3m9bfgkWWRj2fKD7d0qvJkoAqJIPKDevkNo8nRo-hExY_H6GL8jea5zGUMLWbmfW0On_KQX__n2ZvzOtcO8GfU2Bkhbq0KoMrcBobu3_sCQ-W2EgAHYsiF7rhshp4z5IXPqBXbA7eJ3SHOxPP8WwyvbgeTAsUAIMeHhqeAMvtJX8PdHuYBzZu9M81dckPdlRVCuQkr_f_zN-RW5mn3OHTSkxf2OcVX9aGpZ5eECzCNY" alt="Sahara"/>
      <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-transparent"></div>
      <div class="absolute bottom-0 p-8">
        <span class="bg-secondary text-on-secondary px-3 py-1 rounded-full text-[10px] font-bold uppercase mb-4 inline-block">Adventure</span>
        <h3 class="text-3xl text-white font-headline font-bold">Sahara Dune Expedition</h3>
      </div>
    </article>

    <article class="rounded-lg overflow-hidden relative aspect-square group">
      <img class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAFWSOf32BkheeZVcEAsq6et4XgncJLm2BOSykMrYvpab5y-opxNQ6zWkb2QLZSn4O9surzvwGIHgvhLNWZQ1L8VGsPT8qNEuMNhO-BpY8teNrDYj4JIwgrRyyDMdo7uDPbsRIgSzAuD_0gujFsd-l-7cwjefSjTK7rgGqRDVcplf6LpqPRti7bh9yzg7e7H4o1ZCwau7TjgeJAOXm-N8wWIKQKIiQi9NFoQfJxpttGctWXoUu2SiSGpdrsusiMG0otC_T9Y5D9J2A" alt="El Jem"/>
      <div class="absolute inset-0 bg-black/40 flex items-center justify-center"><h3 class="text-white font-headline font-bold text-xl">El Jem Jazz Nights</h3></div>
    </article>

    <article class="rounded-lg overflow-hidden relative aspect-square group">
      <img class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105" src="https://lh3.googleusercontent.com/aida-public/AB6AXuC8dK1O0vAiakMhiuUvRWiqsfYBNUCHiJk9-tWgk3V11XuugHZs9FEYzqBwBMoYtnXO-tPae2UJ_v3QXnqeMGMHMjjr0SfvweqG9UTguRvjOoWOPEstT6wV2q3qOx6MukpBC5nQ4i0l4vc3kM_7otEDU6D0nPu5JdXTeCqw6ir1iclPD8CCybP4JYs69a6GpoMd-S69z-9sUL3_8BzZoRQ3vIxWgMMhamDUwjWPagFsaTvIxb3E7l4zfUHdIXdm5xCGwDrwcPR71Vw" alt="Tabarka"/>
      <div class="absolute inset-0 bg-black/40 flex items-center justify-center"><h3 class="text-white font-headline font-bold text-xl">Tabarka Skydive</h3></div>
    </article>
  </div>
</section>
