<header class="navbar">
  <div class="navbar-inner">
    <a routerLink="/" fragment="top" class="brand">TunisiaTour</a>

    <ul class="menu">
      <li><a routerLink="/" fragment="accueil">Accueil</a></li>
      <li><a routerLink="/" fragment="voyages">Voyages</a></li>
      <li><a routerLink="/" fragment="hotels">Hotels</a></li>
      <li><a routerLink="/" fragment="bons-plans">Bons Plans</a></li>
      <li><a routerLink="/" fragment="contact">Contact</a></li>
    </ul>

    <button class="btn" type="button" (click)="openLoginDialog()">Connexion</button>
  </div>
</header>

<app-login-dialog
  [isOpen]="isLoginDialogOpen"
  (closed)="closeLoginDialog()"
></app-login-dialog>
