<section class="relative min-h-[720px] flex items-center px-8">
  <div class="absolute inset-0 z-0">
    <img class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCdjFDCQymtmRFdEvPIed0_A0QYdaGlhMGwSQzD1DaxxWq7hmeFV73rLhvhApoBNUCJvL0ElYnYMFMW_IfQovBHqJx9_H97kbMA2lGa9YJLrlxB-z_uszAO6YAms5ExzCTAxgkObgAJcZhc36aeCrVQDVwoJ-XtCBsxzxhETuNCLzLB7ZJH1uQITISwpAlNeKrTFhTeJJZS8PpcbRoSVJHAnSaiEa4v2rmREkQMkOxaMTp1vwWzYkU7n9bExnsarsr2OAwo7B73flU" alt="Sidi Bou Said"/>
    <div class="absolute inset-0 bg-gradient-to-r from-primary/60 to-transparent"></div>
  </div>

  <div class="relative z-10 max-w-screen-2xl mx-auto w-full">
    <div class="max-w-3xl mb-12">
      <h1 class="text-white font-headline text-5xl md:text-7xl font-extrabold tracking-tight mb-6">Explore the Soul of the Mediterranean.</h1>
      <p class="text-white/90 text-lg md:text-xl max-w-xl">From the ancient stones of Carthage to the golden sands of the Sahara, curate your perfect Tunisian escape.</p>
    </div>

    <div class="glass-card p-8 rounded-xl max-w-5xl shadow-2xl">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div class="bg-surface-container-lowest p-4 rounded-md flex flex-col gap-1">
          <label class="text-[10px] uppercase tracking-widest font-bold text-outline">Origin</label>
          <input class="border-none p-0 focus:ring-0 bg-transparent text-primary font-bold" placeholder="From where?" type="text"/>
        </div>
        <div class="bg-surface-container-lowest p-4 rounded-md flex flex-col gap-1">
          <label class="text-[10px] uppercase tracking-widest font-bold text-outline">Destination</label>
          <input class="border-none p-0 focus:ring-0 bg-transparent text-primary font-bold" placeholder="Tunis (TUN)" type="text"/>
        </div>
        <div class="bg-surface-container-lowest p-4 rounded-md flex flex-col gap-1">
          <label class="text-[10px] uppercase tracking-widest font-bold text-outline">Dates</label>
          <input class="border-none p-0 focus:ring-0 bg-transparent text-primary font-bold" placeholder="Add dates" type="text"/>
        </div>
        <button class="bg-secondary-container text-on-secondary-container p-4 rounded-md flex items-center justify-between hover:bg-secondary-fixed transition-colors" type="button">
          <span class="font-bold">Find Flights</span>
          <span class="material-symbols-outlined">east</span>
        </button>
      </div>
    </div>
  </div>
</section>
